@charset "utf-8";

/* 전체검색 스킨 */
.search-result .sky-form .inline-group .radio {
	margin-right: 10px;
}
.search-result .tab-e1 .nav-tabs a {
	font-size: 12px;
}
.search-result .tab-e1 .nav-tabs {
	border-bottom: 1px solid #555;
}
.search-result .tab-e1 .nav-tabs > .active > a,
.search-result .tab-e1 .nav-tabs > .active > a:hover,
.search-result .tab-e1 .nav-tabs > .active > a:focus {
	background: #555;
}
.search-result .tab-e1 .nav-tabs > li > a:hover {
	background: #555;
}
.search-result .tab-e1 .sch_on {
	color: #e33334;
}
@media (max-width: 767px) {
	.search-result  .tab-e1 .nav-tabs {
		border: 1px solid #ddd;
		padding: 7px;
		background: #fafafa;
	}
}
.search-result-list .result-list li {
	padding: 10px;
	border-bottom: 1px dotted #ddd;
}
.search-result-list .result-list li:hover {
	background: #f8f8f8;
}
.search-result-list .result-list li:first-child {
	border-top: 1px dotted #ddd;
}
.search-result-list .sch_word {
	color: #e33334;
}