/*------------------------------------
 * eyoom
 * 이윰빌더

 - Default Color 	  : #e33334;
 - Default Hover Color : #bf1516;
------------------------------------*/

a:focus,
a:hover,
a:active {
	color: #e33334;
}

a.read-more:hover {
	color:#e33334;
}

.linked:hover {
	color:#e33334;
}

/*------------------------------------
	Header
------------------------------------*/
/*Navber*/
.header .navbar-default .navbar-nav > .active > a {
	color: #e33334;
}

/*Navbar Toggle*/
.navbar-toggle,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background: #e33334;
}

.navbar-toggle:hover {
	background: #bf1516 !important;
}

.navbar-default .navbar-toggle {
	border-color: #bf1516;
}

/*Responsive Navbar*/
@media (max-width: 767px) {
	.header .navbar-default .navbar-nav > li > a:hover {
		color: #e33334;
	}

	.header .navbar-default .navbar-nav > .active > a,
	.header .navbar-default .navbar-nav > .active > a:hover,
	.header .navbar-default .navbar-nav > .active > a:focus {
		background: #e33334;
	}
}

@media (min-width: 767px) {
	/*Navbar*/
	.header .navbar-default .navbar-nav > li > a:hover,
	.header .navbar-default .navbar-nav > .active > a {
		/*border-bottom: solid 2px #e33334;*/
	}

	.header .navbar-default .navbar-nav > .open > a,
	.header .navbar-default .navbar-nav > .open > a:hover,
	.header .navbar-default .navbar-nav > .open > a:focus {
		color: #e33334;
	}

	/*Dropdown Menu*/
	.header .dropdown-menu {
		border-top: solid 0px #e33334;
	}
}

/*Search Box*/
.header .navbar .nav > li > .search:hover {
	color: #e33334;
	border-bottom-color: #e33334;
}

@media (max-width: 767px) {
	.header .navbar .nav > li > .search:hover {
		background: #bf1516;
	}
}

/*------------------------------------
	Buttons
------------------------------------*/
.btn-e {
	background: #e33334;
}

.btn-e:hover {
	background: #bf1516;
}

/*------------------------------------
	Thumbnail (Recent Work)
------------------------------------*/
.thumbnail-style h3 a:hover {
	color:#e33334;
}

.thumbnail-style a.btn-more {
	background:#e33334;
}
.thumbnail-style a.btn-more:hover {
	box-shadow:0 0 0 2px #bf1516;
}

/*Carousel (Recent Work)*/
.recent-work a:hover span {
	border-bottom:solid 2px #e33334;
}

/*------------------------------------
	Typography
------------------------------------*/
/*Heading*/
.headline h2,
.headline h3,
.headline h4 {
	border-bottom:2px solid #e33334;
}

/*Blockquote*/
blockquote:hover {
	border-left-color:#e33334;
}

.hero {
	border-left-color: #e33334;
}

/*------------------------------------
	Carousel
------------------------------------*/
.carousel-arrow a.carousel-control:hover {
	color: #e33334;
}

/*------------------------------------
	Footer
------------------------------------*/
.footer a,
.copyright a,
.footer a:hover,
.copyright a:hover {
	color: #e33334;
}

/*------------------------------------
	Tabs
------------------------------------*/
/*Tabs e1*/
.tab-e1 .nav-tabs {
	border-bottom: solid 2px #e33334;
}

.tab-e1 .nav-tabs > .active > a,
.tab-e1 .nav-tabs > .active > a:hover,
.tab-e1 .nav-tabs > .active > a:focus {
	background: #e33334;
}

.tab-e1 .nav-tabs > li > a:hover {
	background: #e33334;
}

/*------------------------------------
	Accardion
------------------------------------*/
.acc-home a.active,
.acc-home a.accordion-toggle:hover {
	color:#e33334;
}
.acc-home .collapse.in {
	border-bottom:solid 1px #e33334;
}

/*------------------------------------
	Notify Balloon
------------------------------------*/
.notify-balloon .notify-balloon-info {
	color: #e33334;
}

.notify-balloon .carousel-arrow i:hover {
	background: #e33334;
}

/*------------------------------------
	Info Blocks
------------------------------------*/
.info-blocks:hover i.icon-info-blocks {
	color: #e33334;
}

/*------------------------------------
	Breadcrumb
------------------------------------*/
.breadcrumb li.active,
.breadcrumb li a:hover {
	color:#e33334;
}

/*------------------------------------
	Paging
------------------------------------*/
/*Pagination*/
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
   background-color: #e33334;
   border-color: #e33334;
}

.pagination li a:hover {
   background: #bf1516;
   border-color: #bf1516;
}

/*Pager*/
.pager li > a:hover,
.pager li > a:focus {
   background: #bf1516;
   border-color: #bf1516;
}
