@charset "utf-8";

/* 게시판 공통 */
.margin-hr-10 {
	height: 1px;
	border-top: 1px dotted #ddd;
	margin: 10px 0;
	clear: both;
}
.margin-top-m-1 {
	margin-top: -1px;
}
.board-write .sky-form section {
	margin-bottom: 0;
}

/* 게시판 목록 */
.board-list .sky-form .radio i, .board-list .sky-form .checkbox i {
	top: 0;
}
.board-list .bo_current {
	color: crimson;
}
.table-list-eb .table-responsive {
	overflow-y: auto;
}

@media (min-width: 768px) {
	.table-list-eb .table-responsive {
		overflow-y: visible;
	}
}

.table-list-eb thead {
	border-top: 1px solid #ddd;
	background: #f8f8f8;
}
.table-list-eb th {
	text-align: center;
}
.table-list-eb td i {
	margin:2px;
}
.table-list-eb td em {
	font-size: 11px;
	padding: 0 3px;
	color: crimson;
}
.table-list-eb td span {
	display: inherit;
}
.table-list-eb td .ranking {
	width: 60px;
	text-align: center;
}
.table-list-eb td .hot-hit {
	width: 90px;
	text-align: center;
}
.table-list-eb td .fa-reply {
    -ms-transform: scale(-1,-1); /* IE 9 */
    -webkit-transform: scale(-1,-1); /* Chrome, Safari, Opera */
    transform: scale(-1,-1);
}
.table-list-eb td .fa-dot-circle-o {
	color: crimson;
}
.table-list-eb .td-photo {
	width: 34px;
	text-align: center;
}
.table-list-eb .td-photo img {
	-webkit-border-radius: 50% !important;
	-moz-border-radius: 50% !important;
	border-radius: 50% !important;
	width: 34px;
	height: 34px;
}
.table-list-eb .td-photo i {
	-webkit-border-radius: 50% !important;
	-moz-border-radius: 50% !important;
	border-radius: 50% !important;
	width: 34px;
	height: 34px;
	line-height: 34px;
	background: #eee;
	font-size: 20px;
	color: #84848a;
	text-align: center;
}
.table-list-eb .td-name {
	font-size: 12px;
}
.table-list-eb .td-lv {
	font-size: 12px;
	border: 1px solid #ddd;
	padding: 3px 5px 2px;
	background: #fff;
}
.table-list-eb .td-lv em {
	color: #ddd;
}
.table-list-eb .td-date {
	text-align: center;
	font-size: 12px;
}
.table-list-eb .td-num {
	text-align: center;
	font-size: 12px;
}
.board-notice {
	background: #f5f5f5;
}
.board-btn-adm li {
	float: left;
	margin-right: 5px;
}

/* 게시판 쓰기 */
.board-write .tbl_wrap {
	border: 1px solid #eee;
	padding: 10px;
}
.board-write .tbl_frm01 textarea {
	width: 100%;
	height: 200px;
	border: 1px solid #ddd;
	background: #fafafa;
	line-height: 1.7;
}
.board-write .input-group-btn .btn {
	cursor: inherit;
}

#char_count_desc {
	display: block;
	margin: 0 0 5px;
	padding: 0;
}
#char_count_wrap {
	margin: 5px 0 0;
	text-align: right;
}
#char_count {
	font-weight: bold;
}

#autosave_wrapper {
	position: relative;
}
#autosave_pop {
	display: none;
	z-index: 10;
	position: absolute;
	top: 24px;
	right: 15px;
	padding: 8px;
	width: 320px;
	height: auto !important;
	height: 180px;
	max-height: 180px;
	border: 1px solid #565656;
	background: #fff;
	overflow-y: scroll;
}
html.no-overflowscrolling #autosave_pop {
	height: auto;
	max-height: 10000px !important;
} /* overflow 미지원 기기 대응 */
#autosave_pop strong {
	position: absolute;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
}
#autosave_pop div {
	text-align: right;
}
#autosave_pop button {
	margin: 0;
	padding: 0;
	border: 0;
	background: transparent;
	margin-left: 10px;
}
#autosave_pop ul {
	margin: 10px 0;
	padding: 0;
	border-top: 1px solid #e9e9e9;
	list-style: none;
}
#autosave_pop li {
	padding: 8px 5px;
	border-bottom: 1px solid #e9e9e9;
	zoom:1;
}
#autosave_pop li:after {
	display: block;
	visibility: hidden;
	clear: both;
	content: "";
}
#autosave_pop a {
	display: block;
	float: left;
}
#autosave_pop span {
	display: block;
	float: right;
}
.autosave_close {
	cursor: pointer;
}
.autosave_content {
	display: none;
}

/* CK Editor Style */
.cke_chrome {
	border: 1px solid #ddd !important;
	box-shadow: none !important;
}
.cke_top {
	background: #f8f8f8 !important;
	border-bottom: 1px solid #ddd !important;
	box-shadow: none !important;
}
.cke_bottom {
	background: #f8f8f8 !important;
	border-top: 1px solid #ddd !important;
	box-shadow: none !important;
}
.cke_toolgroup {
	border: 1px solid #aaa !important;
	border-bottom-color: #aaa !important;
	box-shadow: none !important;
	background: #fff !important;
	background-image: none !important;
}
.cke_combo_button {
	border: 1px solid #aaa !important;
	border-bottom-color: #aaa !important;
	box-shadow: none !important;
	background: #fff !important;
	background-image: none !important;
}

/* 게시판 읽기 */
.board-view {
	margin-bottom: 20px;
	padding-bottom: 20px;
}
.board-view-info {
	padding: 5px 10px;
	border: 1px solid #eee;
	color: #555;
	background: #fafafa;
}
.board-view-info h2 {
	position: absolute;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
}
.board-view-info small {
	display: inline-block;
	margin: 0 10px 0 5px;
	font-weight: normal;
}
.board-view-info .view-photo img {
	-webkit-border-radius: 50% !important;
	-moz-border-radius: 50% !important;
	border-radius: 50% !important;
	width: 40px;
	height: 40px;
}
.board-view-info .view-photo .fa-user {
	-webkit-border-radius: 50% !important;
	-moz-border-radius: 50% !important;
	border-radius: 50% !important;
	width: 40px;
	height: 40px;
	background: #fff;
	color: #aaa;
	line-height: 40px;
	font-size: 20px;
	text-align: center;
}

.board-view-file {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}
.board-view-file h2 {
	position: absolute;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
}
.board-view-file ul {
	margin-bottom: 0;
}
.board-view-file li {
	padding: 7px 10px;
	border-bottom: 1px solid #eee;
	background: #fff;
	font-size: 12px;
}
.board-view-file span {
	padding: 0 5px;
	color: #888;
}
.board-view-file a {
	color: #000;
	word-wrap: break-word;
}

.board-view-link {
	border-left:1px solid #eee;
	border-right:1px solid #eee;
}
.board-view-link h2 {
	position:absolute;
	font-size:0;
	line-height:0;
	overflow:hidden;
}
.board-view-link li {
	padding: 7px 10px;
	border-bottom: 1px solid #eee;
	background: #fff;
	font-size: 12px;
}
.board-view-link a {
	word-wrap: break-word;
}

.board-view-bot {
	zoom: 1;
}
.board-view-bot:after {
	display: block;
	visibility: hidden;
	clear: both;
	content: "";
	}
.board-view-bot h2 {
	position: absolute;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
}
.board-view-bot ul {
	margin:0;
	padding:0;
	list-style:none;
}

.view-top-btn {
	margin: 0 0 10px;
	padding: 10px 0;
	zoom: 1;
}
.view-top-btn:after {
	display: block;
	visibility: hidden;
	clear: both;
	content: "";
}
.view-top-btn h2 {
	position: absolute;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
}
.view-top-btn .top-btn-left li {
	float: left;
	margin-right: 5px;
}
.view-top-btn .top-btn-right li {
	float: left;
	margin-left: 5px;
	margin-bottom: 5px;
}

.board-view-atc {
	min-height: 200px;
	height: auto !important;
	height: 200px;
}
.board-view-atc-title {
	position: absolute;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
}

.board-view-img {
	margin: 0;
	width: 100%;
	overflow: hidden;
	zoom: 1;
}
.board-view-img:after {
	display: block;
	visibility: hidden;
	clear: both;
	content: "";
}
.board-view-img img {
	max-width: 100%;
	height: auto;
}

.board-view-con {
	margin-bottom: 30px;
	width: 100%;
	line-height: 1.7;
	word-break: break-all;
	overflow: hidden;
}
.board-view-con a {
	color: #000;
	text-decoration: underline;
	}
.board-view-con img {
	max-width: 100%;
	height: auto;
}

.board-view-act {
	margin-bottom: 30px;
	text-align: center;
}
.board-view-act .board-view-act-gng {
	position: relative;
}
.board-view-act a {
	margin-right: 5px;
	vertical-align: middle;
}
.board-view-act strong {
	color: crimson;
}
.board-view-act-good, .board-view-act-nogood {
	display: none;
	position: absolute;
	top: 30px;
	left: 0;
	padding: 5px 0;
	width: 165px;
	background: #000;
	color: #fff;
	text-align: center;
}

.board-view-sns {
	margin:0 0 20px;
	padding:0;
	list-style:none;
	zoom:1;
}
.board-view-sns:after {
	display:block;
	visibility:hidden;
	clear:both;
	content:"";
}
.board-view-sns li {
	float:left;
	margin:0 5px 0 0;
}

/* 게시판 보기에서 이미지 자동조절 */
.board-view-con .photo-image, .board-view-con .photo-image {
	margin: 0px 10px;
}
.board-view-con .photo-image img, .board-view-con .photo-image img {
	width: 100%;
}
.board-view-con .photo-text, .board-view-con .photo-text {
	color: #777;
	font-size: 11px;
	line-height: 13pt;
	margin: 0;
	padding: 5px;
	border: 1px solid #ddd;
	border-top: 0;
}
.board-view-con a {
	text-decoration: none;
}
.blind{
	display: none;
}

/* 게시판 댓글 */
.view-comment .fa-reply {
    -ms-transform: scale(-1,-1); /* IE 9 */
    -webkit-transform: scale(-1,-1); /* Chrome, Safari, Opera */
    transform: scale(-1,-1);
}
.view-comment .view-comment-photo .fa-user {
	-webkit-border-radius: 50% !important;
	-moz-border-radius: 50% !important;
	border-radius: 50% !important;
	width: 50px;
	height: 50px;
	background: #eee;
	font-size: 32px;
	line-height: 50px;
	text-align: center;
	color: #aaa;
	margin-bottom: 10px;
}
.view-comment .view-comment-photo img {
	-webkit-border-radius: 50% !important;
	-moz-border-radius: 50% !important;
	border-radius: 50% !important;
	width: 50px;
	height: 50px;
	margin-bottom: 10px;
}
.view-comment .view-comment-photo {
	float: left;
	margin-right: 10px;
}
.view-comment .media-body {
	padding-left: 60px;
}
.view-comment .media-body-pn {
	padding-left: 0px;
}
.view-comment .media-heading {
	padding-top: 3px;
}
.view-comment .comment-name {
	font-weight: bold;
}
.view-comment .comment-ip {
	font-size: 11px;
}
.view-comment .comment-time {
	padding-left: 10px;
	background: #fff;
}

.comment-area .view-comment-write-box {
	border: 1px solid #ddd;
}
.comment-area .sky-form header {
	padding:8px 16px;
}
.comment-area .sky-form footer {
	padding:10px 16px;
}
.comment-area .sky-form button {
	margin: 0;
}

/* 게시물 복사 이동 */
.copy-move {
	padding: 15px;
}
.copy-move .sky-form {
	border: 0;
}
.copy-move .copy-move-list label {
	margin-bottom: 0;
}
.copy-move .copymove_current {
	color: #e33334;
}
.copy-move .sky-form .checkbox i {
	top: 0;
}

/* Latest Basic e1 */
.latest-basic-e1 {
	padding: 10px;
	border: 1px solid #ddd;
}
.latest-basic-e1 ul {
	margin-bottom: 0;
}
.latest-basic-e1 li {
	padding: 4px 0;
	border-bottom: 1px dotted #ddd;
}
.latest-basic-e1 li:last-child {
	border-bottom: 0;
}
.latest-basic-e1 .col-xs-10 {
	padding-right: 0;
	padding-left: 0;
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
	overflow: hidden;
}
.latest-basic-e1 .col-xs-10 i {
	width: 14px;
	text-align: center;
}
.latest-basic-e1 .col-xs-2 {
	padding-right: 0;
	padding-left: 0;
	text-align: right;
	color: crimson;
	font-size: 12px;
}
.latest-basic-e1 .basic-comment {
	color: crimson;
	font-size:11px;
}

/*리스트에서 목록에서 무한스크롤 사용시 head_bs.html에 basic-bs가 날려지기 때문에 basic_bs.css 파일에 내용을 아래에 따로 불러옴. (앞에 .basic_bs 는 지운것임) 0622 */
/*Media*/
.media.media-v2 {
	overflow: visible;
	margin-top: 0;
	padding: 15px 0 10px 0;
	border-top: 1px solid #eee;
}

.media.media-v2:first-child {
	border-top: none;
}

.media.media-v2 .media.media-v2 {
	margin-top: 20px;
	padding-bottom: 0;
}

.media.media-v2 img.media-object {
	width: 50px;
	height: 50px;
	margin-right: 10px;
}

/*Media Body*/
.media.media-v2 .media-body {
	overflow: visible;
}

.media.media-v2 .media-body p {
	color: #777;
	line-height: 1.4;
}

/*Media Heading*/
.media.media-v2 .media-heading {
	margin: 0 0 5px;
	font-size: 13px;
	position: relative;
}

.media.media-v2 .media-heading a,
.media.media-v2 .media-heading a:hover {
	color: #555;
}

.media.media-v2 .media-heading strong {
	padding-right: 5px;
}

.media.media-v2 .media-heading small {
	top: 3px;
	right: 0;
	color: #999;
	font-size: 12px;
	position: absolute;
}

/*Expand List*/
i.expand-list {
	color: #777;
	padding: 5px;
	min-width: 20px;
	font-size: 12px;
	text-align: center;
	display: inline-block;
	border: 1px solid #777;
}

i.expand-list:hover {
	color: #999;
	border-color: #999;
}