@charset "utf-8";

/* 인기검색어 */
.popular .headline span {
	padding-top: 3px;
}
.popular .popular-box {
	display: block;
	overflow: hidden;
	border: 1px solid #ddd;
	background: #fff;
	padding: 15px 10px 5px;
	margin-top: -10px;
}
.popular li {
	float: left;
	margin: 0 5px 10px;
}