<?php if (!defined('_GNUBOARD_')) exit; // 개별 페이지 접근 불가 ?>
<!--{? !_wmode }-->

			</div>
			<!--{? (defined('_INDEX_') && eyoom.use_main_side_layout == 'y') || (!defined('_INDEX_') && eyoom.use_sub_side_layout == 'y' && subinfo.sidemenu != 'n')}-->
			<!--{? eyoom.pos_side_layout == 'right'}-->
			{# side_bs}
			<!--{/}-->
			<!--{/}-->
			<div class="clearfix"></div>

		</div><!--{* end row *}-->
    </div><!--{* container *}-->
    <!--{* === End Basic Bs Main === *}-->

    <!--{* === Footer === *}-->
    <div class="footer-e1">
        <div class="footer">
            <div class="container">
                <div class="row">

                    <!--{* About *}-->
                    <div class="col-md-3 col-sm-6 md-margin-bottom-40">
	                    <!--{* ------------- Footer Logo 영역 시작 ------------- *}-->
	                    <a class="site-brand" href="{C.G5_URL}">{config.cf_title}</a>
	                    <!--{* 안내: 로고이미지 사용을 원하실 경우 테마 image 폴더 내 이미지파일을 업로드 후 바로 아래줄 주석을 없애고 이미지 경로의 이미지 파일명 수정하세요. (! 바로윗줄은 삭제 또는 주석처리) *}-->
	                    <!--{* <a class="site-brand" href="{C.G5_URL}"><img src="../image/site_logo.png" class="img-responsive" alt="{config.cf_title} LOGO"></a> *}-->
	                    <!--{* 안내: 보여지는 이미지 크기는 209 x 50 픽셀입니다. 선명도 최적화를 위해 694 x 166 픽셀 사이즈로 image 폴더에 업로드 하시길 권합니다. *}-->
	                    <!--{* ------------- Footer Logo 영역 끝 ------------- *}-->
						
						<!--{* ------------- Footer 사이트소개 영역 시작 ------------- *}-->
	                    <div class="bg-light bg-color-white margin-top-20">
		                    <p><span class="font-size-12">사이트 소개...<br>테마 /layout/tail_bs.html 에서 수정</span></p>
	                    </div>
	                    <!--{* ------------- Footer 사이트소개 영역 끝 ------------- *}-->

                        <!--{* ------------- Footer 소셜링크 영역 시작 ------------- *}-->
                        <ul class="social-icons social-icons-color">
                            <li><a href="#" data-original-title="Facebook" class="rounded-x social_facebook"></a></li>
                            <li><a href="#" data-original-title="Twitter" class="rounded-x social_twitter"></a></li>
                            <li><a href="#" data-original-title="Goole Plus" class="rounded-x social_googleplus"></a></li>
                        </ul>
                        <!--{* ------------- Footer 소셜링크 영역 끝 ------------- *}-->
                    </div>
                    <!--{* End About *}-->

                    <!--{* Statistics *}-->
					<div class="col-md-3 col-sm-6 md-margin-bottom-40">
	                    <!--{//방문자 통계}-->
						<!--{? eyoom.use_gnu_visit == 'y'}-->{=visit('basic')}<!--{:}-->{=eb_visit(eyoom.visit_skin)}<!--{/}-->
					</div>
					<!--{* End Statistics *}-->

                    <!--{* ------------- Footer 페이지링크 영역 시작 ------------- *}-->
                    <div class="col-md-3 col-sm-6 md-margin-bottom-40">
                        <div class="headline"><h2 class="heading-sm">Information</h2></div>
                        <ul class="list-unstyled link-list">
                            <li><a href="{C.G5_URL}/page/?pid=aboutus">About us</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="{C.G5_URL}/page/?pid=provision">이용약관</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="{C.G5_URL}/page/?pid=privacy">개인정보 취급방침</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="{C.G5_URL}/page/?pid=noemail">이메일 무단수집거부</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="{C.G5_URL}/page/?pid=contactus">Contact Us</a><i class="fa fa-angle-right"></i></li>
                        </ul>
                    </div>
                    <!--{* ------------- Footer 페이지링크 영역 끝 ------------- *}-->

                    <!--{* ------------- Footer 사이트정보 영역 시작 - 안내: 사이트 정보 또는 원하는 내용을 입력합니다. ------------- *}-->
                    <div class="col-md-3 col-sm-6 md-margin-bottom-40">
                        <div class="headline"><h2 class="heading-sm">Contact Us</h2></div>
                        <address class="md-margin-bottom-40">
                            <i class="fa fa-home"></i>{config.cf_title}<br>
                            <i class="fa fa-building"></i>사이트 정보 1<br>
                            <i class="fa fa-phone"></i>사이트 정보 2<br>
                            <i class="fa fa-globe"></i>사이트 정보 3<br>
                            <i class="fa fa-info-circle"></i>테마 /layout/tail_bs.html 에서 수정<br>
                            <i class="fa fa-envelope"></i>Email: <a href="mailto:webmaster@site.name">webmaster@site.name</a>
                        </address>
                    </div>
                    <!--{* ------------- Footer 사이트정보 영역 끝 ------------- *}-->

                </div>
            </div>
        </div><!--{* footer *}-->

        <div class="copyright">
            <div class="container">
                <p class="text-center">2015 &copy; {config.cf_title}. All Rights Reserved.</p>
            </div>
        </div><!--{* copyright *}-->
    </div>
    <!--{* === End Footer === *}-->
</div><!--{* wrapper *}-->

<!--{/}-->

<script type="text/javascript" src="../js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="../plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../js/jquery.bootstrap-hover-dropdown.min.js"></script>
<script type="text/javascript" src="../js/back-to-top.js"></script>
<script type="text/javascript" src="../plugins/counter/waypoints.min.js"></script>
<script type="text/javascript" src="../plugins/counter/jquery.counterup.min.js"></script>
<script type="text/javascript" src="../plugins/sky-forms/version-2.0.1/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../plugins/sky-forms/version-2.0.1/js/jquery.form.min.js"></script>
<script type="text/javascript" src="../plugins/scrollbar/src/jquery.mousewheel.js"></script>
<script type="text/javascript" src="../plugins/scrollbar/src/perfect-scrollbar.js"></script>
<script type="text/javascript" src="../js/app.js"></script>
<script type="text/javascript" src="../js/datepicker.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        App.initCounter();
        Datepicker.initDatepicker();
    });

    jQuery(document).ready(function ($) {
        "use strict";
        $('.contentHolder').perfectScrollbar();
    });
    
    jQuery(window).scroll(function() {
        if (jQuery(window).scrollTop()>122){
            jQuery(".header-fixed .eb-navbar-fixed").addClass("header-fixed-bar");
        }
        else {
            jQuery(".header-fixed .eb-navbar-fixed").removeClass("header-fixed-bar");
        }
    });
</script>


<!--[if lt IE 9]>
	<script src="../js/respond.js"></script>
	<script src="../js/html5shiv.js"></script>
	<script src="../plugins/sky-forms/version-2.0.1/js/sky-forms-ie8.js"></script>
<![endif]-->
{# tail_sub}