@charset "utf-8";

.latest-basic-e1 {
	padding: 10px;
	border: 1px solid #ddd;
	border-left: 1px solid #fcb9b9;
}
.latest-basic-e1:hover {
	border: 1px solid #ddd;
	box-shadow: 0 0 10px #eee;
}
.latest-basic-e1 ul {
	margin-bottom: 0;
}
.latest-basic-e1 li {
	padding: 4px 0;
	border-bottom: 1px dotted #ddd;
}
.latest-basic-e1 li:last-child {
	border-bottom: 0;
}
.latest-basic-e1 .col-xs-10 {
	padding-right: 0;
	padding-left: 0;
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
	overflow: hidden;	
}
.latest-basic-e1 .col-xs-10 i {
	width: 14px;
	text-align: center;
}
.latest-basic-e1 .col-xs-2 {
	padding-right: 0;
	padding-left: 0;
	text-align: right;
	color: crimson;
	font-size: 12px;
}
.latest-basic-e1 .basic-comment {
	color: crimson;
	font-size:11px;
}
