@charset "utf-8";

/*New Post*/
.new-post {
	overflow: hidden;
	margin-bottom: 10px;
	padding: 15px 15px 0 10px;
	border-top: 1px solid #eee;
}

.new-post:first-child {
	border-top: none;
}

.new-post .post-photo img,
.new-post .post-photo i {
	float: left;
	margin-right: 10px;
}

.new-post .post-photo img {
	-webkit-border-radius: 50% !important;
	-moz-border-radius: 50% !important;
	border-radius: 50% !important;
	width: 35px;
	height: 35px;
}

.new-post .post-photo i {
	-webkit-border-radius: 50% !important;
	-moz-border-radius: 50% !important;
	border-radius: 50% !important;
	width: 35px;
	height: 35px;
	font-size: 24px;
	line-height: 35px;
	text-align: center;
	background: #eee;
	color: #aaa;
}

.new-post .margin-hr-5 {
	height: 1px;
	border-top: 1px dotted #eee;
	margin: 5px 0;
}

.new-post .post-subject {
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
	overflow: hidden;	
}

.new-post span {
	display: block;
}

.new-post small {
	color: #999;
	font-size: 11px;
}

.new-post p {
	color: #777;
	font-size: 12px;
}