/*-------------------------------------------
 * eyoom (이윰빌더)
 css 순서 : plugins - style - basic_bs - color
--------------------------------------------*/

/*------- ======= start plugins ======= -------*/
/*----- Sky Form -----*/
.sky-form .col{padding-right:5px;padding-left:5px}
.sky-form section{margin-bottom:10px}

/*----- Owl Carousel -----*/
.owl-btn{color:#777;cursor:pointer;font-size:18px;padding:2px 9px;text-align:center;background:#f5f5f5}
.owl-btn:hover{color:#fff;background:#72c02c}

/*Owl Carousel v1*/
.owl-carousel-v1 .owl-navigation{text-align:right;margin-bottom:20px}
.owl-carousel-v1 .item{margin:0 5px}
.owl-carousel-v1 .item img{text-align:center}
.owl-carousel-v1 .owl-pagination{display:none}

/*Owl Carousel v2*/
.owl-carousel-v2 .owl-slider-v2{margin-bottom:20px}
.owl-carousel-v2 .item{margin:0 15px}
.owl-carousel-v2 .item img{text-align:center}
.owl-carousel-v2 .owl-navigation{text-align:center}
.owl-carousel-v2 .owl-pagination{display:none}

/*Owl Carousel v3*/
.owl-carousel-v3 .item{margin:0 15px}
.owl-carousel-v3 .item img{text-align:center}
.owl-carousel-v3 .owl-pagination{display:none}

/*Owl Carousel v4*/
.owl-carousel-v4 .owl-wrapper-outer{margin-bottom:20px}
.owl-carousel-v4 .item{margin:0 3px}
.owl-carousel-v4 .item img{width:100%}

/*Owl Pagination*/
.owl-pagination{text-align:center !important}
.owl-theme .owl-controls .owl-page.active span,.owl-theme .owl-controls.clickable .owl-page:hover span{opacity:1;filter:Alpha(Opacity=100);/*IE7 fix*/}
.owl-theme .owl-controls .owl-page{zoom:1;display:inline-block;*display:inline;/*IE7 life-saver */}
.owl-theme .owl-controls .owl-page span{width:12px;height:12px;opacity:0.3;display:block;margin:5px 7px;background:#bbb;filter:Alpha(Opacity=50);-webkit-border-radius:50% !important;-moz-border-radius:50% !important;border-radius:50% !important}

/*Owl Carousel Style v1*/
.owl-carousel-style-v1 img{width:120px;height:auto}

/*Owl Carousel Style v2*/
.owl-carousel-style-v2 .item{margin:0 3px;background:#fafafa;text-align:center;border:solid 1px #eee}
.owl-carousel-style-v2 .item img{padding:0 3px;display:inline-block}
.owl-carousel-style-v2 .item:hover{background:#f7f7f7;border-color:#e5e5e5;transition:all 0.4s ease-in-out}
.owl-carousel-style-v2 .owl-pagination{display:none}

/*----- Counter -----*/
.counters{color:#555;text-align:center}@media (max-width: 767px){.counters{margin-bottom:30px}}
.counters span{font-size:35px}
.counters span.counter-icon{display:block;margin-bottom:10px}
.counters span.counter-icon i{color:#fff;padding:16px;min-width:65px;font-size:30px;position:relative;background:#e33334}
.counters span.counter-icon i:after{width:0;height:0;left:38%;content:" ";bottom:-7px;display:block;position:absolute;border-top:7px solid #72c02c;border-left:7px solid transparent;border-right:7px solid transparent;border-left-style:inset;border-right-style:inset}
.counters:hover span.counter-icon i{border-color:#000}

/*----- SyntaxhigHlighter -----*/
.syntaxhighlighter table .container:before{display:none !important}
/*------- ======= end plugins ======= -------*/

/*------- ======= start basic_bs ======= -------*/
/*----- Basic Bs -----*/
.basic-bs-wrap{border-left:1px solid #ddd;border-right:1px solid #ddd;background:#fff}
.basic-bs .basic-bs-main{background:#fff;padding:12px;min-height:800px}
.basic-bs .left-main{border-right:1px solid #ddd}
.basic-bs .right-main{border-left:1px solid #ddd}
.basic-bs .basic-bs-side{margin-top:0;padding:12px;box-shadow:0 0 0 1px #ddd;background:#f8f8f8}
.basic-bs .basic-bs-body{padding:0;background:#fff}
.basic-bs .list-group i{margin-right:5px}
@media (max-width: 991px){.basic-bs .basic-bs-main{min-height:100px}
	.basic-bs .left-main{border-right:0}
	.basic-bs .right-main{border-left:0}
	.basic-bs-side{border-top:1px solid #ddd;margin-top:0;padding-top:20px}
}
@media (max-width: 767px){
	.basic-bs-wrap{border-left:0;border-right:0}
}
@media (min-width: 768px){
	.main-bs-right{padding-left:6px}
	.main-bs-left{padding-right:6px}
}

/*Scrollbar*/
.contentHolder{padding:0;height:320px;margin:0 auto;overflow:hidden;position:relative;background:#fff}
@media (max-width: 767px){
	.contentHolder{height:auto}
}
.contentMobile{padding:0;height:auto;margin:0 auto;overflow:hidden;position:relative;background:#fff}
.spacer{text-align:center}

/*Panel Title Box*/
.basic-bs .panel-basic-bs{border:1px solid #eee;margin-bottom:0;box-shadow:none}
.basic-bs .panel-basic-bs.no-bg{background:inherit}
.basic-bs .panel-heading{padding:7px 15px}
.basic-bs .panel-title{font-size:16px}
.basic-bs .panel-heading-e1{color:#555;border-bottom:solid 3px #f7f7f7}
.basic-bs .panel-title{font-size:16px}

/*Media*/
.basic-bs .media.media-v2{overflow:visible;margin-top:0;padding:15px 0 10px;border-top:1px solid #eee}
.basic-bs .media.media-v2:first-child{border-top:none}
.basic-bs .media.media-v2 .media.media-v2{margin-top:20px;padding-bottom:0}
.basic-bs .media.media-v2 img.media-object{width:50px;height:50px;margin-right:10px}

/*Media Body*/
.basic-bs .media.media-v2 .media-body{overflow:visible}
.basic-bs .media.media-v2 .media-body p{color:#777;line-height:1.4}

/*Media Heading*/
.basic-bs .media.media-v2 .media-heading{margin:0 0 5px;font-size:13px;position:relative}
.basic-bs .media.media-v2 .media-heading a,.basic-bs .media.media-v2 .media-heading a:hover{color:#555}
.basic-bs .media.media-v2 .media-heading strong{padding-right:5px}
.basic-bs .media.media-v2 .media-heading small{top:3px;right:0;color:#999;font-size:12px;position:absolute}

/*Expand List*/
.basic-bs i.expand-list{color:#777;padding:5px;min-width:20px;font-size:12px;text-align:center;display:inline-block;border:1px solid #777}
.basic-bs i.expand-list:hover{color:#999;border-color:#999}

/*Table*/
.basic-bs .table{background:#fff}
.basic-bs .table > thead > tr > th,.basic-bs .table > tbody > tr > th,.basic-bs .table > tfoot > tr > th,.basic-bs .table > thead > tr > td,.basic-bs .table > tbody > tr > td,.basic-bs .table > tfoot > tr > td{padding:6px 10px}

/*Side Accordion  -----*/
.panel-default{box-shadow:none}
.panel-default .panel-basic-bs{border:0;border-top:solid 1px #fdbdbe}
.panel-default .panel-heading{padding:0;border-bottom:0}
.panel-default .panel-heading .fa-sort{padding-top:5px}
@media screen and (max-width: 767px){
	.basic-bs .timeline-v2 > li .cbp_tmlabel:after{border-bottom-color:#fff;border-right-color:transparent}
}
@media screen (min-width: 768px) and (max-width: 992px){
	.basic-bs .timeline-v2 > li .cbp_tmlabel:after{border-bottom-color:#fff;border-right-color:transparent}
}

/*Basic Bs Edit*/
.basic-bs .basic-bs-edit{padding:20px;background:#fff}
.basic-bs .basic-bs-edit h2{font-weight:200}
.basic-bs .basic-bs-edit dt{text-align:inherit}
.basic-bs .basic-bs-edit hr{margin:17px 0 15px}

/*Tab*/
.basic-bs .tab-content{padding:0}

/*Sky Form*/
.basic-bs .sky-form{border:none}
.basic-bs .sky-form .toggle-change i{left:180px}
.basic-bs .input-group-btn .btn{font-size:14px}

/*SyntaxHighlighter*/
.board-view-con .syntaxhighlighter{border:1px solid #ddd;padding:10px 0}
/*------- ======= end basic_bs ======= -------*/

/*------- ======= start style ======= -------*/
/*----- Boxed Layout -----*/
.wrapper{background:#fff}
.boxed-layout{padding:0;box-shadow:0 0 5px #ccc;margin-left:auto !important;margin-right:auto !important;background:#fff}

/*----- 회원 레이어팝업 -----*/
.sv_wrap .sv{border:1px solid #ddd;width:170px}
.sv_wrap .sv a{background:#fff;color:#555 !important;padding:5px 15px;width:100%;font-size:12px;border-bottom:0;display:block}
.sv_wrap .sv a:hover{background:#eee}

/*----- Back To Top -----*/
.eb-top{width:34px;height:34px;text-align:center;line-height:32px;color:#fff;background:rgba(0, 0, 0, 0.5);-webkit-border-radius:50% !important;-moz-border-radius:50% !important;border-radius:50% !important}

/*----- Top Bar -----*/
.topbar{z-index:12;padding:8px 0;position:relative}
.topbar ul.loginbar{margin:0}
.topbar ul.loginbar > li{display:inline;list-style:none;position:relative;padding-bottom:15px}
.topbar ul.loginbar > li > a,.topbar ul.loginbar > li > a:hover{color:#7c8082;font-size:11px;text-transform:uppercase}
.topbar ul.loginbar li i.fa{color:#bbb}
.topbar ul.loginbar li.topbar-devider{top:-1px;padding:0;font-size:8px;position:relative;margin:0 9px 0 5px;font-family:Tahoma;border-right:solid 1px #bbb}

/*Top Bar e1 -----*/
.topbar-e1{background:#f8f8f8;border-bottom:solid 1px #ddd}

/*Top Contacts*/
.topbar-e1 ul{margin:0}
.topbar-e1 .top-e1-contacts li{color:#666;padding:5px 0 3px;font-size:12px;margin-right:15px;display:inline-block;vertical-align:top}
.topbar-e1 .top-e1-contacts i{color:#999;font-size:13px;margin-right:3px}

/*Top Data*/
.topbar-e1 .top-e1-data{text-align:right}
.topbar-e1 .top-e1-data li{padding:5px 11px 3px;display:inline-block;border-right:solid 1px #ddd}
.topbar-e1 .top-e1-data li:first-child{border-left:solid 1px #ddd}
.topbar-e1 .top-e1-data li a{font-size:12px}
.topbar-e1 .top-e1-data li a:hover{text-decoration:none}
.topbar-e1 .top-e1-data li i{color:#777;font-size:13px}
.topbar-e1 .top-e1-data li a:hover i{color:#e33334}

/*Responsive Topbar e1*/
@media (max-width: 991px){
	.topbar-e1 ul{text-align:center !important}
	.topbar-e1 .top-e1-contacts{margin:10px 0}
	.topbar-e1 .top-e1-data li{top:1px;padding:6px 16px;margin-left:-5px;position:relative;border:solid 1px #eee}
}

/*----- Header -----*/
.header{z-index:99;position:relative;border-bottom:solid 2px #eee}
.header .navbar{margin:0;min-height:inherit}
.header .navbar-default{border:none;background:none}
.header .navbar-collapse{position:relative;/*max-height: inherit;*/}
.header .navbar-collapse .container{padding-left:0}
.header .dropdown-menu li:hover a i{}
.header .dropdown-menu .active > a i{color:#fff}
.header .search-open .btn{font-size:14px}

/*Brand*/
.header .navbar-brand{z-index:1;top:30px;position:relative;padding:0 10px;font-size:32px;font-weight:bold}
.header .navbar-brand img{width:209px;margin-top:-18px}
.header .header-banner{overflow:hidden;position:relative;width:209px;margin-top:20px}
.header .header-banner a.text-banner{width:100%;height:50px;display:block;border:1px solid #eee;text-align:center;font-size:12px;line-height:1.7em}
.header .header-banner a.text-banner span{font-size:24px;font-weight:bold;color:#999;display:block;margin-top:7px}

/*Navbar Brand*/
@media (max-width: 992px){
	.header .navbar-brand{top:-10px;height:40px;font-size:26px;font-weight:bold;padding-left:20px}
}
.header .navbar-default .navbar-nav > li > a{color:#34343a;font-size:15px;font-weight:400;text-transform:uppercase}
.header .navbar-default .navbar-nav > .active > a{color:#e33334}

/*Navbar Nav*/
@media (min-width: 992px){
	.header .navbar-nav{float:left}
}

/*Dropdown*/
.header .navbar-right .dropdown-menu{right:inherit}

/*Navbar Toggle*/
.navbar-toggle,.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus{background:#e33334;padding:6px 10px 2px}
.navbar-toggle:hover{background:#bf1516 !important}
.navbar-default .navbar-toggle{border-color:#bf1516}
.navbar-default .navbar-toggle .fa{color:#fff;font-size:19px}

/*Responsive Navbar*/
@media (max-width: 999px){
	/*Dropdown Menu Slide Down Effect*/
	.navbar-nav .open .dropdown-menu{border:0;float:none;width:auto;margin-top:0;position:static;box-shadow:none;background-color:transparent}
	.navbar-nav .open .dropdown-menu > li > a,.navbar-nav .open .dropdown-menu .dropdown-header{padding:5px 15px 5px 25px}
	.navbar-nav .open .dropdown-menu > li > a{line-height:20px}
	.navbar-nav .open .dropdown-menu > li > a:hover,.navbar-nav .open .dropdown-menu > li > a:focus{background-image:none}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a{color:#777}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus{color:#333;background-color:transparent}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a,.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus{color:#555;background-color:#e7e7e7}
	.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus{color:#ccc;background-color:transparent}
	
	/*Responsive code for max-width: 1000px*/
	.header .navbar-header{float:none;height:82px}
	.header .navbar-toggle{display:block;margin-top:25px}
	.header .navbar-collapse.collapse{display:none !important}
	.header .navbar-collapse.collapse.in{display:block !important;overflow-y:auto !important}
	.header .navbar-nav{margin:7px 0;float:none !important}
	.header .navbar-nav > li{float:none}
	.header .navbar-nav > li > a{padding-top:30px;padding-bottom:40px}
	
	/*Design for max-width: 1200px*/
	.header .navbar-collapse,.header .navbar-collapse .container{padding-left:0 !important;padding-right:0 !important}
	.header .navbar-default .navbar-nav > li > a{font-size:14px;padding:9px 10px}
	.header .navbar-default .navbar-nav > li a{border-bottom:solid 1px #eee;/*margin-bottom: 1px;*/}
	.header .navbar-default .navbar-nav > li > a:focus{background:none}
	.header .navbar-default .navbar-nav > li > a:hover{color:#e33334}
	.header .navbar-default .navbar-nav > .active > a,.header .navbar-default .navbar-nav > .active > a:hover,.header .navbar-default .navbar-nav > .active > a:focus{color:#fff !important;background:#e33334;/*border-bottom: solid 2px #72c02c;*/}
	.header .dropdown-submenu li a{font-size:12px}
	.header .header-banner{display:none}
}
@media (min-width: 1000px){
	/*Navbar Collapse*/
	.header .navbar-collapse{padding:0}
	
	/*Navbar*/
	.header .navbar-nav{top:2px;position:relative}
	.header .navbar-default .navbar-nav > li > a{padding:9px 30px 9px 20px}
	.header .navbar-default .navbar-nav > li > a,.header .navbar-default .navbar-nav > li > a:focus{border-bottom:solid 2px transparent}
	.header .navbar-default .navbar-nav > li > a:hover,.header .navbar-default .navbar-nav > .active > a{border-bottom:solid 2px #e33334}
	.header .navbar-default .navbar-nav > li > a,.header .navbar-default .navbar-nav > li > a:hover,.header .navbar-default .navbar-nav > li > a:focus,.header .navbar-default .navbar-nav > .active > a,.header .navbar-default .navbar-nav > .active > a:hover,.header .navbar-default .navbar-nav > .active > a:focus{background:none}
	.header .navbar-default .navbar-nav > .open > a,.header .navbar-default .navbar-nav > .open > a:hover,.header .navbar-default .navbar-nav > .open > a:focus{color:#e33334}
	
	/*Dropdown Menu*/
	.header .dropdown-menu{padding:0;border:none;min-width:200px;border-radius:0;z-index:9999 !important}
	.header .dropdown-menu li a{color:#687074;font-size:13px;font-weight:400;padding:9px 15px;border-bottom:solid 1px #eee}
	.header .dropdown-menu .active > a,.header .dropdown-menu li > a:hover{color:#fff;filter:none !important;background:#e33334 !important;-webkit-transition:all 0.1s ease-in-out;-moz-transition:all 0.1s ease-in-out;-o-transition:all 0.1s ease-in-out;transition:all 0.1s ease-in-out}
	.header .dropdown-menu li > a:focus{background:none;filter:none !important}
	.header .navbar-nav > li.dropdown:hover > .dropdown-menu{display:block}
	.header .open > .dropdown-menu{display:none}
	
	/*Search*/
	.header .navbar .search-open{width:330px}
}

/*Header Fixed*/
@media (min-width: 1000px){
	.header-fixed .navbar-collapse.header-fixed-bar{top:0;left:0;width:100%;z-index:9999;position:fixed;background:#fff;-webkit-transition:height 0.6s;-moz-transition:height 0.6s;transition:height 0.6s}
	.header-fixed .navbar-collapse.header-fixed-bar > .container{background:none}
	.boxed-layout.header-fixed .navbar-collapse.header-fixed-bar{background:none;border-bottom:0 none}
	.boxed-layout.header-fixed .navbar-collapse.header-fixed-bar > .container{background:#fff;border-bottom:1px solid #ddd}
}

/*Search Box*/
.header .navbar .nav > li > .search{color:#aaa;cursor:pointer;min-width:35px;font-size:15px;text-align:center;background:#fff;padding:9px 0 11px;display:inline-block;border-bottom:solid 2px #aaa}
.header .navbar .nav > li > .search:hover{color:#e33334;background:#fff;border-bottom-color:#72c02c}
.header .navbar .search-open{right:0;top:38px;display:none;padding:14px;position:absolute;background:#fcfcfc;border-top:solid 1px #eee;box-shadow:0 1px 3px #ddd}
.header .navbar .search-open form{margin:0}
@media (min-width: 768px) and (max-width: 1000px){
	.header .navbar > .container .navbar-brand,.header .navbar > .container-fluid .navbar-brand{margin-left:-30px;top:30px;font-size:26px;font-weight:bold;padding-top:0}
	.header .navbar-toggle{margin-right:0;margin-top:25px}
	.header .navbar .search-open{width:93%}
}
@media (max-width: 999px){
	.header .navbar > .container .navbar-brand,.header .navbar > .container-fluid .navbar-brand{top:30px;padding-top:0;padding-left:20px}
	.header .navbar .nav > li > .search{color:#999;width:35px;height:34px;line-height:12px;text-align:left;text-align:center;margin:0 10px;background:#eee;border-bottom:none}
	.header .navbar .nav > li > .search:hover{color:#fff !important;background:#e33334}
	.header .navbar .search-open{top:0;padding:0;left:48px;border-top:none;box-shadow:none;background:none;margin-right:10px}
}
@media (min-width: 992px) and (max-width: 1000px){
	.header .header .navbar-nav{margin:7px 0 !important}
}

/*Dropdown Submenu for BS3 -----*/
.dropdown-submenu{position:relative}
.dropdown > a:after{top:8px;right:9px;font-size:11px;position:absolute;font-weight:normal;display:inline-block;font-family:FontAwesome}
@media (max-width: 1000px){
	.dropdown-submenu > a:after{content:" "}
}
.dropdown > a:after{top:7px !important;right:12px;content:"\f107"}
.dropdown-submenu > .dropdown-menu{top:0;left:100%;margin-top:-5px;margin-left:0}

/*Submenu comes from LEFT side*/
.dropdown-submenu > .dropdown-menu.submenu-left{left:-100%}
.dropdown-submenu:hover > .dropdown-menu{display:block}
@media (max-width: 1000px){
	.dropdown-submenu > .dropdown-menu{display:block;margin-left:15px}
}
.dropdown-submenu.pull-left{float:none}
.dropdown-submenu.pull-left > .dropdown-menu{left:-100%;margin-left:10px}
.dropdown-menu li [class^="fa-"],.dropdown-menu li [class*=" fa-"]{left:5px;width:1.25em;margin-right:5px;position:relative;text-align:center;display:inline-block}
.dropdown-menu li [class^="fa-"].fa-lg,.dropdown-menu li [class*=" fa-"].fa-lg{width:1.5625em;/* increased font size for fa-lg */}
.dropdown-menu .sub-caret{float:right;font-size:11px;top:3px}
@-moz-document url-prefix(){
	.dropdown-menu .sub-caret{float:inherit;top:-2px}
}

/*Menu Icons*/
.menu-icon{margin-right:10px;font-weight:200}

/*Dropdown Show*/
.dropdown-show{position:relative;display:inline-block;box-shadow:0 0 4px #eee}

/*----- Header e1 -----*/
@media (min-width: 1000px){
	.header-e1.header{border-bottom:none}
	.header-e1.header .navbar-header{margin:20px 0}
	.header-e1.header .navbar-brand{top:10px;padding:5px 10px 29px;font-size:32px;font-weight:bold}
	.header-e1.header .navbar-brand a{}
	.header-e1.header .navbar-nav{top:0;float:left;margin-top:-1px}
	
	/*Dropdown-Menu*/
	.header-e1.header .dropdown-menu{margin-top:0 !important;border-top:1px solid transparent;margin-left:-1px;border:1px solid #ddd}
	.header-e1.header .dropdown-submenu > .dropdown-menu{top:-1px}
	.header-e1.header .navbar-collapse{border-top:1px solid #ddd;border-bottom:1px solid #ddd}
	.header-e1.header .navbar-default .navbar-nav > li{margin-left:-1px;border-left:1px solid #ddd;border-right:1px solid #ddd}
	.header-e1.header .navbar-default .navbar-nav > .home-menu{margin-left:0}
	.header-e1.header .navbar-default .navbar-nav > li.no-border,.header-e1.header .navbar-default .navbar-nav > li.no-border:first-child{border-left:none;border-right:none}
	.header-e1.header .navbar-default .navbar-nav > li > a{font-size:13px;padding:9px 24px 8px 14px}
	.header-e1.header .dropdown > a:after{top:11px}
	.header-e1.header .navbar-default .navbar-nav > li > a,.header-e1.header .navbar-default .navbar-nav > li > a:focus{border-top:solid 1px transparent;border-bottom:solid 2px transparent}
	.header-e1.header .navbar-default .navbar-nav > li > a:hover,.header-e1.header .navbar-default .navbar-nav > .active > a{border-top:solid 1px #e33334;border-bottom:solid 2px transparent}
	
	/*Search*/
	.header-e1.header .navbar .nav > li > .search{background:inherit;border-bottom:none;margin:3px 9px 0 20px}
	.header-e1.header .navbar .search-open{top:40px}
}
@media (max-width: 999px){
	/*Design for max-width: 1000px*/
	.header-e1.header{border-bottom:solid 1px #ddd}
	.header-e1.header .navbar-collapse{overflow:hidden !important}
	.header-e1.header .navbar-default .navbar-collapse,.header-e1.header .navbar-default .navbar-form{border-top:1px solid #e7e7e7}
	.header-e1.header .navbar-collapse,.header-e1.header .navbar-default .navbar-nav > li,.header-e1.header .navbar-default .navbar-nav > li:first-child{border:none}
	.header-e1.header .navbar-default .navbar-nav > li > a{font-size:14px;padding:9px 10px;border-bottom:solid 1px #eee !important}
	.header-e1.header .navbar-default .navbar-nav > li > a:focus{background:none}
	.header-e1.header .navbar-default .navbar-nav > li > a:hover{color:#e33334;background:#fff}
	.header-e1.header .navbar-default .navbar-nav > li > a,.header-e1.header .navbar-default .navbar-nav > li > a:focus{border-top:solid 0 transparent;border-bottom:solid 0 transparent}
	.header-e1.header .navbar-default .navbar-nav > li > a:hover,.header-e1.header .navbar-default .navbar-nav > .active > a{border-top:solid 0 transparent;border-bottom:solid 0 transparent}
	.header-e1.header .navbar-default .navbar-nav > .active > a,.header-e1.header .navbar-default .navbar-nav > .active > a:hover,.header-e1.header .navbar-default .navbar-nav > .active > a:focus{color:#fff;background:#e33334}
	.header-e1.header .navbar-default .navbar-nav>.open>a{background:#fff}
	.header .dropdown-menu li:hover a i{color:crimson}
}
@media (min-width: 768px) and (max-width: 998px){
	/*Navbar Brand*/
	.header .navbar-brand{top:4px}
	/*Search*/
	.header-e1.header .navbar .search-open{width:92%}
}

/*Responsive Search*/
@media (min-width: 992px) and (max-width: 998px){
	.header-e1.header .navbar .search-open{width:93%}
}
.header-e1.header .topbar-e1 .open > .dropdown-menu{display:block;margin-top:1px !important;min-width:170px;padding:5px 0;border:1px solid #ddd}
@media (max-width: 991px){
	.header-e1.header .topbar-e1 .open > .dropdown-menu{left:inherit;right:0}
}
.header-e1.header .topbar-e1 .btn-group.open .dropdown-toggle{box-shadow:none}
.header-e1.header .topbar-e1 .btn-group ul{text-align:left !important}
.header-e1.header .topbar-e1 .btn-group li{display:block}
.header-e1.header .topbar-e1 .dropdown-menu li a{border-bottom:0;padding:0 15px}
.header-e1.header .topbar-e1 .dropdown-menu li a:hover,.header-e1.header .topbar-e1 .dropdown-menu li a:focus{background:none !important;color:#e33334}
.header-e1.header .topbar-e1 .dropdown-menu .divider{height:1px;margin:5px 0;padding:0;overflow:hidden;background-color:#eee}

/*----- Footer -----*/
.footer{padding:0}
.footer .container{border-left:1px solid #ddd;border-right:1px solid #ddd}
.footer .container .row{padding:15px 0}
.footer.margin-top-0{margin-top:0}
.footer p,.footer a{font-size:14px}
.footer p{color:#555}
.footer a{color:#555}
.footer a:hover{color:#e33334;-webkit-transition:all 0.4s ease-in-out;-moz-transition:all 0.4s ease-in-out;-o-transition:all 0.4s ease-in-out;transition:all 0.4s ease-in-out}
.footer h2,.footer h3,.footer h4{color:#e4e4e4;background:none;text-shadow:none}

/*Footer Logo*/
.footer .site-brand{margin-top:7px;color:#555;font-size:26px;font-weight:bold}
.footer .site-brand img{width:209px}

/*Footer Subsribe*/
.footer .footer-subsribe{width:85%}

/*Footer Blog Posts*/
.footer .blog-list{margin:0;padding:0;color:#dadada;list-style:none}
.footer .blog-list li{padding:0;margin-bottom:7px}
.footer .blog-list li span{color:#818488}
.footer .dl-horizontal,.footer .dl-horizontal:hover{border:none !important;background:none !important}
.footer .posts .dl-horizontal a{color:#dadada}
.footer .dl-horizontal a:hover{color:#a8f85f !important}
.footer .dl-horizontal img{border-color:#888 !important}

/*Copyright*/
.copyright{font-size:12px;background:#3e4753;border-top:solid 1px #777}
.copyright p{color:#dadada;margin-top:12px}
.copyright a{margin:0 5px;color:#555}
.copyright a:hover{color:#e33334}
.copyright a img{margin-top:5px}
.clear-line{clear:both;margin-top:20px;margin-bottom:10px;border-top:1px solid #eee}

/*----- Footer-e1 -----*/
.footer-e1 .footer{background:#f4f4f4;border-top:1px solid #ddd}
.footer-e1 .footer p{color:#555}
.footer-e1 .headline h2{color:#585f69}

/*Footer Subsribe*/
.footer-e1 .footer-subsribe{width:100%}

/*Link List*/
.footer-e1 .link-list li{border-top:solid 1px #e8e8e8}
.footer-e1 .link-list a{color:#555}
.footer-e1 address{color:#555;line-height:23px}
.footer-e1 address i{min-width:20px;margin-right:5px;text-align:center}

/*Info List*/
.footer-e1 .info-list li{padding:3px 5px}
.footer-e1 .info-list a{color:#555}

/*Copyright*/
.footer-e1 .copyright{border-top:none;background:#bbb}
.footer-e1 .copyright p{color:#555}

/*----- Footer Common classes -----*/
/*Thumb Headline*/
.thumb-headline h2{color:#eee;font-size:16px}

/*Footer*/
.footer a{text-decoration:none}

/*Footer brand*/
.footer-brand{color:#f40;font-size:20px;font-weight:bold;text-decoration:none}

/*Footer Logo*/
.footer-logo{margin:17px 0 20px}

/*Latest List*/
.latest-list li{padding:8px 0;border-top:1px solid #353535}
.latest-list li:first-child{padding-top:0;border-top:none}
.latest-list li a{color:#eee}
.latest-list small{color:#999;display:block}

/*Link List*/
.link-list li{border-top:solid 1px #353535}
.link-list li:first-child{border-top:none !important}
.link-list a{color:#eee;font-size:11px;padding:6px 0;display:inline-block;text-transform:uppercase}
.link-list li i{color:#bbb;float:right;margin-top:10px}

/*Social Icons*/
.social-icons{margin-top:5px}
.social-icons li{margin:0}
.social-icons li a{margin:0 3px}

/*----- Breadcrumbs -----*/
/*Default Breadcrumbs*/
.breadcrumbs{overflow:hidden;padding:0;border-bottom:solid 1px #ddd;background:#f8f8f8}
.breadcrumbs h1{color:#666;font-size:18px;margin:8px 0 5px}
.breadcrumb{top:6px;padding-right:0;background:none;position:relative;margin:0}
.breadcrumb a{color:#777}
.breadcrumb li.active,.breadcrumb li a:hover{color:#e33334;text-decoration:none}
@media (max-width: 550px){
	.breadcrumbs h1.pull-left,.breadcrumbs ul.pull-right{width:100%;text-align:center}
	.breadcrumbs h1.pull-left{margin-bottom:0}
	.breadcrumbs .breadcrumb{top:0;margin-bottom:10px}
}

/*----- Service Block E -----*/
.service-block-e{padding:20px}
.service-block-e .service-heading,.service-block-e .service-in small{color:#64646a;opacity:0.8;line-height:1}
.service-block-e .service-in h4,.service-block-e .counter{color:crimson}
.service-block-e .service-in h3{color:#000;font-weight:bold}
.service-block-e .service-heading{font-size:14px;text-transform:uppercase}
.service-block-e .counter{display:block;line-height:1;font-size:16px}
.service-block-e .progress{margin-bottom:7px}

/*Service Innner*/
.service-block-e .service-in small{font-size:14px;text-transform:uppercase}
.service-block-e .service-in h4{font-size:14px;line-height:0.8;margin-bottom:0}
.service-block-e .service-in h3{font-size:14px;line-height:0.8;margin-bottom:0}

/*Statistics*/
.service-block-e .statistics .heading-xs{color:#888;opacity:0.8;font-size:12px}
.service-block-e .statistics small{color:#fff}
.service-block-e .statistics .progress{background:#bbb}
.service-block-e .statistics .progress-bar-light{background:#e74c3c}

/*----- Table List eb -----*/
.table-list-eb .btn-e.dropdown-toggle{border-left:none}
.table-list-eb .btn-group .btn-e{top:4px;padding:0 6px;position:relative}
.table-list-eb thead{border-top:1px solid #ddd;border-bottom:solid 1px #ddd;background:#f8f8f8}
.table-list-eb tbody{border-bottom:1px solid #ddd}
.table-list-eb tfoot{border-bottom:1px solid #ddd;background:#f8f8f8}
.table-list-eb td{vertical-align:middle !important}
.table-list-eb td img{margin:0 auto;display:block}
.table-list-eb .user-names span,.table-list-eb .user-names small{display:block;text-align:center}
.table-list-eb .user-names span{color:#555;font-size:16px;position:relative}
.table-list-eb .user-names small{color:#999;font-size:12px}
.table-list-eb td h3{font-size:14px;margin:0 0 2px;color:#000}
.table-list-eb td a{color:#34343a}
.table-list-eb td a:hover{color:crimson}
.table-list-eb td p{margin-bottom:0;color:#74747a}
.table-list-eb td span{display:block}
.table-list-eb td small{font-style:italic}
.table-list-eb .s-icons{margin-bottom:0}
.table-list-eb .s-icons li{padding:2px}
.table-list-eb .table-buttons{margin:0}
.table-list-eb .table-buttons li{padding:0}
.table-list-eb .table-buttons .btn-e-sm{padding:3px 6px}
.table-list-eb .td-width{width:40%}
.table-list-eb .td-width-60{width:60%}
.table-list-eb .td-width-50{width:50%}
.table-list-eb .td-width-30{width:30%}
.table-list-eb .td-width-20{width:20%}
.table-list-eb .td-width-10{width:10%}
@media (max-width: 767px){
	.table-responsive{border-top:0;border-bottom:0}
}

/*----- G5 Captcha -----*/
/*Captcha*/
.vc-captcha{padding:15px 10px 10px;border:1px solid #ddd}
.vc-captcha fieldset{padding:0}
#captcha #captcha_img{height:43px;border:1px solid #eee}
#captcha #captcha_key{width:120px;height:43px;border:1px solid #ddd;font-size:14px;line-height:14px}
#captcha #captcha_reload{background:#555;color:#fff}
#captcha .required,#captcha textarea.required{background:#fff !important}

/*Etc*/
fieldset legend{border-bottom:0}
.sch_word{color:crimson}
/*------- ======= end style ======= -------*/

/*------- ======= start color ======= -------*/
/*------- Default Color : #e33334; Default Hover Color : #bf1516; -------*/
a:focus,a:hover,a:active{color:#e33334}
a.read-more:hover{color:#e33334}
.linked:hover{color:#e33334}

/*Navber*/
.header .navbar-default .navbar-nav > .active > a{color:#e33334}

/*Navbar Toggle*/
.navbar-toggle,.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus{background:#e33334}
.navbar-toggle:hover{background:#bf1516 !important}
.navbar-default .navbar-toggle{border-color:#bf1516}

/*Responsive Navbar*/
@media (max-width: 767px){
	.header .navbar-default .navbar-nav > li > a:hover{color:#e33334}
	.header .navbar-default .navbar-nav > .active > a,.header .navbar-default .navbar-nav > .active > a:hover,.header .navbar-default .navbar-nav > .active > a:focus{background:#e33334}
}
@media (min-width: 767px){
	/*Navbar*/
	.header .navbar-default .navbar-nav > li > a:hover,.header .navbar-default .navbar-nav > .active > a{/*border-bottom: solid 2px #e33334;*/}
	.header .navbar-default .navbar-nav > .open > a,.header .navbar-default .navbar-nav > .open > a:hover,.header .navbar-default .navbar-nav > .open > a:focus{color:#e33334}
	/*Dropdown Menu*/
	.header .dropdown-menu{border-top:solid 0 #e33334}
}

/*Search Box*/
.header .navbar .nav > li > .search:hover{color:#e33334;border-bottom-color:#e33334}
@media (max-width: 767px){
	.header .navbar .nav > li > .search:hover{background:#bf1516}
}

/*----- Buttons -----*/
.btn-e{background:#e33334}
.btn-e:hover{background:#bf1516}

/*----- Thumbnail (Recent Work) -----*/
.thumbnail-style h3 a:hover{color:#e33334}
.thumbnail-style a.btn-more{background:#e33334}
.thumbnail-style a.btn-more:hover{box-shadow:0 0 0 2px #bf1516}

/*Carousel (Recent Work)*/
.recent-work a:hover span{border-bottom:solid 2px #e33334}

/*----- Typography -----*/
/*Heading*/
.headline h2,.headline h3,.headline h4{border-bottom:1px solid #e33334;font-size:16px}

/*Blockquote*/
blockquote:hover{border-left-color:#e33334}
.hero{border-left-color:#e33334}

/*----- Carousel -----*/
.carousel-arrow a.carousel-control:hover{color:#e33334}

/*----- Footer -----*/
.footer a,.copyright a,.footer a:hover,.copyright a:hover{color:#e33334}

/*----- Tabs -----*/
/*Tabs e1*/
.tab-e1 .nav-tabs{border-bottom:solid 2px #e33334}
.tab-e1 .nav-tabs > .active > a,.tab-e1 .nav-tabs > .active > a:hover,.tab-e1 .nav-tabs > .active > a:focus{background:#e33334}
.tab-e1 .nav-tabs > li > a:hover{background:#e33334}

/*----- Accardion -----*/
.acc-home a.active,.acc-home a.accordion-toggle:hover{color:#e33334}
.acc-home .collapse.in{border-bottom:solid 1px #e33334}

/*----- Notify Balloon -----*/
.notify-balloon .notify-balloon-info{color:#e33334}
.notify-balloon .carousel-arrow i:hover{background:#e33334}

/*----- Info Blocks -----*/
.info-blocks:hover i.icon-info-blocks{color:#e33334}

/*----- Breadcrumb -----*/
.breadcrumb li.active,.breadcrumb li a:hover{color:#e33334}

/*----- Paging -----*/
/*Pagination*/
.pagination > .active > a,.pagination > .active > span,.pagination > .active > a:hover,.pagination > .active > span:hover,.pagination > .active > a:focus,.pagination > .active > span:focus{background-color:#e33334;border-color:#e33334}
.pagination li a:hover{background:#bf1516;border-color:#bf1516}

/*Pager*/
.pager li > a:hover,.pager li > a:focus{background:#bf1516;border-color:#bf1516}

/*------- ======= end color ======= -------*/
