ul.tabs {
    margin: 0;
    padding: 0px;
    float: left;
    list-style: none;
    height: 32px;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    width: 100%;
    font-family:"dotum";
    font-size:12px;
}
ul.tabs li {
    float: left;
    text-align:center;
    cursor: pointer;
    width:82px;
    height: 31px;
    line-height: 31px;
    border: 1px solid #eee;
    border-left: none;
    font-weight: bold;
    background: #fafafa;
    overflow: hidden;
    position: relative;
}
ul.tabs li.active {
    background: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}
.tab_container {
	width:100%;
	height:100%;
	overflow:hidden;
	margin-bottom:20px;
    border: 1px solid #eee;
    border-top: none;
    clear: both;
    float: left;
    background: #FFFFFF;
}
.tab_container .mobile {
	width:100%;
	height:100%;
    border: 1px solid #eee;
    border-top: none;
    clear: both;
    float: left;
    background: #FFFFFF;
}
.tabslide_container .title{
    border-left: none;
    font-weight: bold;
    background: #fafafa;
    position: absolute;
	top: 0px;
	right:0px;
}
.tab_content {
	width:95%;
    padding: 5px;
    font-size: 12px;
    display: none;
}
.tab_container .tab_content ul {   
    margin:0px;
    padding:0px;
}
.tab_container .tab_content ul li {
    padding:5px;
    list-style:none;
}
.tabslide_container {
	margin-right:10px;
	margin-bottom:20px;
}