@charset "utf-8";

.new_latest{width:95%; position:relative; margin-bottom:45px;}  
.new_latest .lt_Box{width:95%; height:126px; border:1px solid #e8e8e8; padding:20px;}  
.new_latest .lt_Box ul{margin:0 0 10px; padding:0}  
.new_latest .lt_Box li{list-style:none; padding:4px 0; width:100%; height:12px; overflow: hidden;}  
.new_latest .lt_Box li.no_bd{height:126px;text-align:center; line-height:100px}  
.new_latest .lt_title {background:url("./img/icon_blue.png") no-repeat; display:block; padding:0 0 14px 24px; height:11px;}  
.new_latest .lt_more a{height:16px;background:url("./img/icon_more.gif") no-repeat top right; position:absolute;top:0px;right:0px; padding-right:23px;color:#696969;display:inline-block}  
 
.lt_pc {float:left;margin-left:6px}
.lt_ml{margin-left:0}

.half_size.new_latest{width:343px; position:relative; margin-bottom:45px; float:left;}  
.half_size.new_latest .lt_Box{width:301px; height:126px; border:1px solid #e8e8e8;padding:20px;}  
.half_size.new_latest .lt_Box ul{margin:0 0 10px; padding:0; list-style:none;}   
.half_size.new_latest .lt_Box li{list-style:none; padding:4px 0; width:300px; height:12px; overflow: hidden;}  
.half_size.new_latest .lt_Box li.no_bd{height:126px;text-align:center; line-height:100px}  
.half_size.new_latest .lt_title {background:url("./img/icon_blue.png") no-repeat 0 0; display:block; padding:0 0 14px 24px; height:11px;}  
.half_size.new_latest .lt_more a{height:16px;background:url("./img/icon_more.gif") no-repeat top right; position:absolute;top:0px;right:0px; padding-right:23px;color:#696969;display:inline-block}  
 

