@charset "utf-8";

.notify-balloon-e1 .notify-balloon-subj a {
	color: #eaeaea;
	font-size: 12px;
}

.notify-balloon-e1 .notify-balloon-subj a:hover {
	color: #fff;
}

.notify-balloon-e1 .notify-balloon-info img {
	-webkit-border-radius: 50% !important;
	-moz-border-radius: 50% !important;
	border-radius: 50% !important;
	width: 50px;
	height: 50px;
	padding: 0;
	border: 0;
}

.notify-balloon-e1 .notify-balloon-info i {
	-webkit-border-radius: 50% !important;
	-moz-border-radius: 50% !important;
	border-radius: 50% !important;
	width: 50px;
	height: 50px;
	font-size: 34px;
	line-height: 50px;
	text-align: center;
	background: #eee;
	color: #84848a;
	margin-right: 15px;
}

.notify-balloon-e1 .notify-balloon-info span {
	font-size: 14px;
}

.notify-balloon-e1 .notify-balloon-info em {
	font-size: 12px;
	font-style: normal;
}
