@charset "utf-8"; 
/* PIREE 피리.고맹이 */


/* 투표_등록__레이어 */
#vote_write_form { display:none; clear:both; margin:6px 0; padding:10px 15px; width:576px; height:auto; border:2px solid #dfdfdf; background:#fff; }




/* 투표_보기__레이어 */
#article_vote_view { }
#article_vote_out { margin-bottom:30px; padding:4px 18px 10px 18px; border:2px solid #e5e8ec; }
#article_vote_out .tbl_wrap caption{font-size:1.4em; text-align:center;}

.vote_area { width:100%; background:#f5f5f5; }

.vote_poll_ul { float:right; margin:10px 0 10px -20px; width:100%; border-top:1px solid #e5e8ec; list-style:none; zoom:1; }
.vote_poll_ul:after { display:block; visibility:hidden; clear:both; content:""; }
.vote_poll_ul li { float:left; clear:both; margin-left:5px; }




/* 투표_결과__레이어 */
.vote_result_desc { width:400px; background:#f5f5f5; line-height:2.4em; }
.vote_result_graph { position:relative; height:5px; background:#eee; }
.vote_result_graph span { position:absolute; top:0; left:0; height:5px; background:#565e60; font-size:0.1em; }

.tbl_frm01.tbl_wrap th{min-width:60px}


