<?php if (!defined('_GNUBOARD_')) exit; // 개별 페이지 접근 불가

add_stylesheet('<link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css" type="text/css" media="screen">',0);
add_stylesheet('<link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css" type="text/css" media="screen">',0);
add_stylesheet('<link rel="stylesheet" href="../plugins/sky-forms/version-2.0.1/css/custom-sky-forms.css" type="text/css" media="screen">',0);
add_stylesheet('<link rel="stylesheet" href="../plugins/scrollbar/src/perfect-scrollbar.css" id="style_color" type="text/css" media="screen">',0);
add_stylesheet('<link rel="stylesheet" href="../css/common.css" type="text/css" media="screen">',0);
add_stylesheet('<link rel="stylesheet" href="../css/style.css" type="text/css" media="screen">',0);
add_stylesheet('<link rel="stylesheet" href="../css/custom.css" type="text/css" media="screen">',0);

?>

<!--[if lt IE 9]>
    <link rel="stylesheet" href="../plugins/sky-forms/version-2.0.1/css/sky-forms-ie8.css">
<![endif]-->

<!--{? !_wmode }-->

<div class="wrapper"><!--{* 메뉴바 고정을 원하시면 <div class="wrapper header-fixed"> 변경 / 박스형을 원하시면 <div class="wrapper boxed-layout container"> / 둘다는 <div class="wrapper header-fixed boxed-layout container"> *}-->
	<!--{* === Header === *}-->
    <div class="header header-e1">
        <!--{* Topbar *}-->
        <div class="topbar-e1">
            <div class="container" style="position:relative;">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="list-unstyled top-e1-contacts">
	                        <!--{? !C.G5_IS_MOBILE}-->
                            <li>
                                <a href="javascript://" onclick="window.external.AddFavorite(parent.location.href,document.title);">
                                	<i class="fa fa-bookmark"></i> 북마크
                                </a>
                            </li>
                            <!--{/}-->
                            <!--{? _is_member //회원일 경우}-->
							<li class="btn-group">
		                        <a href="#" data-toggle="dropdown"><i class="fa fa-user"></i> 내메뉴</a>
				                <a href="#" data-toggle="dropdown">
				                    <i class="fa fa-caret-down"></i>
				                    <span class="sr-only">Toggle Dropdown</span>
				                </a>
		                        <ul class="dropdown-menu" role="menu">
		                            <li><a href="{C.G5_BBS_URL}/memo.php" target="_blank" id="ol_after_memo" class="win_memo">쪽지 <span class="badge badge-red rounded-2x">{_memo_not_read}</span></a></li>
		                            <li><a href="{C.G5_BBS_URL}/respond.php">내글반응 <span class="badge badge-red rounded-2x">{_respond}</span></a></li>
		                        </ul>
		                    </li>
                            <!--{/}-->
                        </ul>
                    </div>

                    <div class="col-md-6">
                        <ul class="list-unstyled top-e1-data">
							<!--{? _is_member //회원일 경우}-->
								<!--{? _is_admin //관리자일 경우}-->
					            <li><a href="{C.G5_ADMIN_URL}">관리자</a></li>
					            <!--{/}-->
					            <li><a href="{C.G5_BBS_URL}/member_confirm.php?url={C.G5_BBS_URL}/register_form.php">정보수정</a></li>
					            <li><a href="{C.G5_BBS_URL}/logout.php">로그아웃</a></li>
								<!--{: //비회원일 경우}-->
					            <li><a href="{C.G5_BBS_URL}/register.php">회원가입</a></li>
					            <li><a href="{C.G5_BBS_URL}/login.php">로그인</a></li>
							<!--{/}-->
							<li><a href="{C.G5_BBS_URL}/current_connect.php">접속자:{connect.total_cnt}{? connect.mb_cnt}(<b class='color-red'>{connect.mb_cnt}</b>){/}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--{* End Topbar *}-->

        <!--{* Navbar *}-->
        <div class="navbar navbar-default" role="navigation">
	        
            <div class="container">
                <!--{* Brand and toggle get grouped for better mobile display *}-->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="fa fa-bars"></span>
                    </button>
                    
                    <!--{* ------------- Header Logo 영역 시작 ------------- *}-->
                    <a class="navbar-brand" href="{C.G5_URL}">{config.cf_title}</a>
                    <!--{* 안내: 로고이미지 사용을 원하실 경우 테마 image 폴더 내 이미지파일을 업로드 후 바로 아래줄 주석을 없애고 이미지 경로의 이미지 파일명 수정하세요. (! 바로윗줄은 삭제 또는 주석처리) *}-->
                    <!--{* <a class="navbar-brand" href="{C.G5_URL}"><img src="../image/site_logo.png" class="img-responsive" alt="{config.cf_title} LOGO"></a> *}-->
                    <!--{* 안내: 보여지는 이미지 크기는 209 x 50 픽셀입니다. 선명도 최적화를 위해 694 x 166 픽셀 사이즈로 image 폴더에 업로드 하시길 권합니다. *}-->
                    <!--{* ------------- Header Logo 영역 끝 ------------- *}-->
                    
                </div>
                
                <!--헤더 광고 넣기 -->
				<div class="head_ad_banner hidden-sm hidden-xs">
					<!--{@eb_banner(4)}-->{.html}<!--{/}--> 
				</div>
				<!--헤더 광고 넣기 끝-->

				<!--헤더 이미지 넣기-->
				<div class="head_ad_img hidden-sm hidden-xs">
					<!--{@eb_banner(5)}-->{.html}<!--{/}--> 
				</div>
				<!--헤더 이미지 넣기 끝-->
            </div>

            <div class="clearfix"></div>

            <div class="collapse navbar-collapse navbar-responsive-collapse eb-navbar-fixed">
                <div class="container">
                    <ul class="nav navbar-nav">
                        <!--{* Home *}-->
                        <li class="{? defined('_INDEX_')}active{/} home-menu">
                            <a href="{C.G5_URL}{? _is_member && eyoomer.main_index != 'index'}/?home{/}"><i class="fa fa-home"></i> 메인</a>
                        </li>
                        <!--{* End Home *}-->

                        <!--{* Menu *}-->
                        <!--{@ menu}-->
                        <li class="{? .active}active{/} {? menu.submenu}dropdown{/}">
	                        <a href="{.me_link}" target="_{.me_target}" class="dropdown-toggle" {? C.G5_IS_MOBILE && menu.submenu}data-toggle="dropdown"{:}data-hover="dropdown"{/}>
                                <!--{? .me_icon}--><i class="fa {.me_icon}"></i> <!--{/}-->{.me_name}<!--{? .new}--> <!--<i class="fa fa-spinner fa-spin color-red navbar-icon-color"></i>--><!--{/}-->
                            </a>
							<!--{@ submenu}-->
			                <!--{? ..index_ == 0}-->
                            <ul class="dropdown-menu">
                            <!--{/}-->
                                <li class="dropdown-submenu {? ..active}active{/}">
									<a href="{..me_link}" target="_{..me_target}"><!--{? ..me_icon}--><i class="fa {..me_icon}"></i> <!--{/}-->{..me_name}<!--{? ..new}--> <!--<i class="fa fa-spinner fa-spin color-red"></i>--><!--{/}--><!--{? ..sub=='on'}--><i class="fa fa-angle-right sub-caret hidden-sm hidden-xs"></i><i class="fa fa-angle-down sub-caret hidden-md hidden-lg"></i><!--{/}--></a>
									<!--{@ subsub}-->
									<!--{? ...index_ == 0}-->
									<ul class="dropdown-menu dropdown-menu-sub">
									<!--{/}-->
										<li class="dropdown-submenu {? ...active}active{/}">
											<a href="{...me_link}" target="_{...me_target}"><!--{? ...me_icon}--><i class="fa {...me_icon}"></i> <!--{/}-->{...me_name}<!--{? ...new}--> <!--<i class="fa fa-spinner fa-spin color-red"></i>--><!--{/}--></a>
										</li>
									<!--{? ...index_ == ...size_-1}-->
									</ul>
									<!--{/}-->
									<!--{/}-->
								</li>
                            <!--{? ..index_ == ..size_-1}-->
                            </ul>
                            <!--{/}-->
							<!--{/}-->
                        </li>
                        <!--{/}-->
                        <!--{* End Menu *}-->
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <!--{* Search Block *}-->
                        <li class="no-border">
                            <i class="search fa fa-search search-btn"></i>
                            <div class="search-open">
								<form name="fsearchbox" method="get" action="{C.G5_BBS_URL}/search.php" onsubmit="return fsearchbox_submit(this);">
								<input type="hidden" name="sfl" value="wr_subject||wr_content">
								<input type="hidden" name="sop" value="and">
                                <div class="input-group animated fadeInDown">
									<label for="sch_stx" class="sound_only">검색어<strong class="sound_only"> 필수</strong></label>
                                    <input type="text" name="stx" id="sch_stx" maxlength="20" class="form-control" placeholder="전체검색" value="">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit" id="sch_submit">Go</button>
                                    </span>
                                </div>
								</form>
								<script>
								function fsearchbox_submit(f) {
									if (f.stx.value.length < 2 || f.stx.value == $("#sch_stx").attr("placeholder")) {
										alert("검색어는 두글자 이상 입력하십시오.");
										f.stx.select();
										f.stx.focus();
										return false;
									}
									// 검색에 많은 부하가 걸리는 경우 이 주석을 제거하세요.
									var cnt = 0;
									for (var i=0; i<f.stx.value.length; i++) {
										if (f.stx.value.charAt(i) == ' ') cnt++;
									}

									if (cnt > 1) {
										alert("빠른 검색을 위하여 검색어에 공백은 한개만 입력할 수 있습니다.");
										f.stx.select();
										f.stx.focus();
										return false;
									}
									return true;
								}
								</script>
                            </div>
                        </li>
                        <!--{* End Search Block *}-->
                    </ul>
                </div>
            </div><!--{* navbar-collapse *}-->
        </div>
        <!--{* End Navbar *}-->
    </div>
    <!--{* === End Header === *}-->

    <!--{? defined('_INDEX_') || defined('_EYOOM_MYPAGE_')}-->
    <!--{:}-->
    <!--{* === Board Title === *}-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left"><i class="fa fa-chevron-circle-right"></i> <!--{subinfo.title}--></h1>
            <ul class="pull-right breadcrumb">
				<!--{subinfo.path}-->
            </ul>
        </div>
    </div>
    <!--{* === End Board Title === *}-->
    <!--{/}-->

    <!--{* === Basic Bs Main === *}-->
    <div class="basic-bs basic-bs-wrap container content">
    	<div class="row">
	    	<!--{? (defined('_INDEX_') && eyoom.use_main_side_layout == 'y') || (!defined('_INDEX_') && eyoom.use_sub_side_layout == 'y' && subinfo.sidemenu != 'n')}-->
			<!--{? eyoom.pos_side_layout == 'left'}-->
			{# side_bs}
			<!--{/}-->
			<div class="basic-bs-main col-md-9 {? eyoom.pos_side_layout == 'left'}right{:}left{/}-main">
		<!--{:}-->
			<div class="basic-bs-main col-md-12">
		<!--{/}-->
<!--{/}-->