<?php if (!defined('_GNUBOARD_')) exit; // 개별 페이지 접근 불가 ?>

<!--{* Start Sidebar *}-->
<div class="basic-bs-side col-md-3">
	
	<!--{* 아웃로그인 *}-->
	<!--{? eyoom.use_gnu_outlogin == 'y'}-->{=outlogin('basic')}<!--{:}-->{=eb_outlogin(eyoom.outlogin_skin)}<!--{/}-->
	
	<div class="margin-bottom-20"></div>
	
	<!--{? !defined('_INDEX_')}-->
	<ul class="list-group sidebar-nav-e1" id="sidebar-nav">
		<!--{@ sidemenu}-->
	    <li class="list-group-item list-toggle {? .active}active{/}">
			<a {? C.G5_IS_MOBILE && sidemenu.submenu}data-toggle="collapse" data-parent="#sidebar-nav" href="#collapse-{.key_}"{:}href="{.me_link}" target="_{.me_target}"{/}>{.me_name}</a>
	        <ul id="collapse-{.key_}" class="collapse {? .active}in{/}">
				<!--{@ submenu}-->
	            <li class="{? ..active}active{/}"><!--{? ..new}--><span class="badge badge-red">new</span><!--{/}--><a href="{..me_link}" target="_{..me_target}"><!--{? ..active}--><i class="fa fa-chevron-circle-right"></i><!--{:}--><i class="fa fa-circle"></i><!--{/}--> {..me_name}</a></li>
				<!--{/}-->
	        </ul>
	    </li>
		<!--{/}-->
	</ul>
	<!--{/}-->

	<h2 class="side_title">생활속 이야기</h2>
	<ul class="list-group">
		<li class="list-group-item dash"><a href="<?=G5_BBS_URL?>/board.php?bo_table=daily_story">사는 이야기</a> | <a href="<?=G5_BBS_URL?>/board.php?bo_table=issue">이슈토론</a></li>
		<li class="list-group-item dash"><a href="<?=G5_BBS_URL?>/board.php?bo_table=life_why">인생이 왜이래(고민)</a> | <a href="#">억울해요</a></li>
		<li class="list-group-item dash"><a href="#">나는 연애중</a> | <a href="#">무서운 이야기</a></li>
		<li class="list-group-item dash"><a href="#">꿈 이야기</a> | <a href="#">최강 다이어트</a></li>
		<li class="list-group-item dash"><a href="#">노하우를 말해줘</a> | <a href="#">가입인사</a></li>
		<li class="list-group-item dash"><a href="#">커뮤니티 제안</a></li>
	</ul>

	<div class="margin-bottom-30"></div>
	<h2 class="side_title">testPayCoupon 광고문의</h2>
	<!--{@eb_banner(1)}-->{.html}<!--{/}--> 

	<div class="margin-bottom-30"></div>

	<!--{@eb_banner(2)}-->{.html}<!--{/}--> 

	<div class="margin-bottom-30"></div>

	<!--이슈토론 새글 리스트 가져오기-->
	<h2 class="side_title">이슈토론</h2>

	<ul class="list-group">
		{latest->latest_issue_list('title=이슈토론 || bo_table=issue || count=6 || cut_subject=20')}
	</ul>
	<!--이슈토론 새글 리스트 가져오기 끝-->

</div><!--{* End col-md-3 *}-->
<!--{* End Sidebar *}-->