@charset "utf-8";

/* 회원 명함 */
.member-signature {
	margin-bottom: 20px;
	border: 1px solid #ddd;
	padding: 5px 15px;
}
.member-signature .margin-hr-5 {
	height: 1px;
	border-top: 1px dotted #ddd;
	margin: 5px 0px;
	clear: both;
}
.member-signature .sv_wrap .sv a {
	padding: 3px 15px;
}
.member-signature .signature-photo {
	height: 65px;
	width: 65px;
	padding: 3px;
	margin-top: 7px;
	-webkit-border-radius: 100% !important;
	-moz-border-radius: 100% !important;
	border-radius: 100% !important;
	box-shadow: 0 0px 0px 1px rgba(0,0,0,.06);
	background-color: #fff;
}
.member-signature .signature-photo img {
	height: 59px;
	width: 59px;
	-webkit-border-radius: 100% !important;
	-moz-border-radius: 100% !important;
	border-radius: 100% !important;
	background-color: #fff;
	background-size: cover;
}
.member-signature .signature-photo i {
	height: 59px;
	width: 59px;
	text-align: center;
	line-height: 59px;
	color: #84848a;
	font-size: 46px;
}
.member-signature .signature-follow {
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}
.member-signature blockquote {
	margin-bottom: 10px;
}
.member-signature blockquote span {
	font-size: 16px;
}
.member-signature .service-block-e {
	padding: 5px 0;
}
.member-signature .service-block-e .service-in span {
	font-size: 12px;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
	overflow: hidden;
	padding-top: 2px;
}
.member-signature .service-block-e .counter {
	display: inline;
}
.member-signature .service-block-e .member-lv {
	padding-top: 10px;
	border-top: 1px solid #ddd;
	background: #fafafa;
}
.member-signature .service-block-e .statistics {
	padding: 0 15px 10px;
	border-bottom: 1px solid #ddd;
	background: #fafafa;
}