@charset "utf-8";

/* 아웃로그인 스킨 */

/* 로그인 전 */
.ol-before {
	border: 1px solid #ddd; 
	background: #fff; 
	padding: 15px;
}
.ol-before .ol-account {
	font-size: 13px;
	letter-spacing: -1px;
	margin-top: -10px;
	clear:both;		
}
.ol-before .ol-account span {
	padding-bottom: 10px;
}
.ol-before .ol-stay {
	font-size: 12px;
	letter-spacing: -1px;
}

/* 로그인 후 */
.ol-after {
	position: relative;
	display: block;
	border: 1px solid #ddd; 
	background: #fff; 
	padding: 0px;
	margin-top: 33px;
	min-height: 150px;
}
.ol-after-bottom {
	border: 1px solid #ddd;
	border-top: 0;
	background: #fff;
	padding: 10px 20px 0px;
}
.ol-after .service-block-e {
	padding: 45px 20px 20px;
}
.ol-after .service-block-e .service-in h4 {
	font-size: 12px;
	padding-top: 2px;
}
.ol-after .member-name {
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
}
.ol-after .member-name .col-xs-12 {
	padding-right: 10px;
	padding-left: 10px;
}
.ol-after .member-lv {
	border-top: 1px solid #eee;
	padding-top: 15px;
}
.ol-after .member-lv .col-xs-12 {
	padding-right: 10px;
	padding-left: 10px;
}
.ol-after .statistics {
	padding-right: 10px;
	padding-left: 10px;	
}
.ol-after .member-point i {
	color: #EC6232;
	float: left;
	font-size: 38px;
	margin: 0 20px 10px 0;	
}
.member-photo .member-img {
	position: absolute;
	top: -40px;
	left: 50%;
	margin-left: -40px;
	height: 80px;
	width: 80px;
	padding: 4px;
	-webkit-border-radius: 100% !important;
	-moz-border-radius: 100% !important;
	border-radius: 100% !important;
	box-shadow: 0 0px 0px 1px rgba(0,0,0,.12);
	background-color: #fff;
}
.member-photo .member-img img {
	height: 72px;
	width: 72px;
	-webkit-border-radius: 100% !important;
	-moz-border-radius: 100% !important;
	border-radius: 100% !important;
	background-color: #fff;
	background-size: cover;
}
.member-photo .member-img i {
	color: #84848a;
	font-size: 60px;
	position: absolute;
	top: 10px;
	left: 17px;
}
.member-photo .photo .badge {
	position: absolute;
	top: -39px;
	left: 50%;
	margin-left: 35px;
	font-size: 12px;
}
.ol-after-bottom .col-xs-7 {
	padding-left: 5px;
	padding-right: 5px;
}
.ol-after-bottom .col-xs-5 {
	padding-left: 5px;
	padding-right: 5px;
}
.ol-after-bottom .logout a {
	width: 100%;
	color: #fff;
	text-align: center;
	font-size: 12px;
}
.ol-after-bottom .my-menu {
	font-size: 12px;
}
.ol-after-bottom .badge {
	font-size: 12px;	
}

.profile-photo {
	display: block;
	text-align: center;
	margin: 0 auto 20px;
	height: 80px;
	width: 80px;
	padding: 4px;
	-webkit-border-radius: 100% !important;
	-moz-border-radius: 100% !important;
	border-radius: 100% !important;
	box-shadow: 0 0px 0px 1px rgba(0,0,0,.12);
	background-color: #fff;
}

.profile-photo i {
	height: 72px;
	width: 72px;
	color: #84848a;
	font-size: 60px;
	text-align: center;
	-webkit-border-radius: 100% !important;
	-moz-border-radius: 100% !important;
	border-radius: 100% !important;
	background-color: #fff;
	line-height: 72px;	
}

.profile-photo img {
	height: 72px;
	width: 72px;
	-webkit-border-radius: 100% !important;
	-moz-border-radius: 100% !important;
	border-radius: 100% !important;
	background-color: #fff;
	background-size: cover;
}

.profile-txt {
	margin-bottom: 20px;
}